@import  'variables.module.scss';
@import 'mixins.module.scss';

.container {
  position: relative;
  z-index: 5;

  // padding: 0 15px;
  margin: auto;
  max-width: 1620px;
  width: 100%;

  &__sm {
    @extend .container;
    
    max-width: 1320px;
  }
}

@include respond-to(xl-down) {
  .container {
    width: inherit;
    margin: auto 30px;

    &__sm {
      max-width: 1140px;
      margin: auto;
    }
  }
}

@include respond-to(lg-down) {
  .container {
    max-width: 960px;

    &__sm {}
  }
}

@include respond-to(md-down) {
  .container {
    max-width: 720px;

    &__sm {}
  }
}

@include respond-to(sm-down) {
  .container {
    max-width: 540px;

    &__sm {}
  }
}