@import  'variables.module.scss';
@import 'mixins.module.scss';

.container {
  // position: relative;
  // z-index: 5;

  margin: auto 30px;
  max-width: 1620px;
  width: 100%;

  &__sm {
    // position: relative;
    // z-index: 5;

    margin: auto;
    max-width: 1320px;
    width: 100%;
  }
}

@include respond-to(xl-down) {
  .container__sm {
    max-width: 1140px;
  }
}

@include respond-to(lg-down) {
  .container__sm {
    max-width: 960px;
  }
}

@include respond-to(md-down) {
  .container__sm {
    max-width: 720px;
  }
}

@include respond-to(sm-down) {
  .container__sm {
    max-width: 540px;
  }
}