@import  'variables.module.scss';
@import 'mixins.module.scss';

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: center;

  &__navbar {
    display: flex;
    justify-content: space-between;
    height: 80px;
  }

  &__navbar_collapse {
    align-self: center;
  }

  &__navbar_toggler_icon {
    position: relative;
    
    width: 30px;
    height: 20px;
    
    background: bottom;
    border: 0;

    cursor: pointer;
  
    &:before,
    &:after,
    span {
      content: '';

      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #fff;

      transition: transform .3s ease;
    }
  
    &:before {
      top: 0;

      transform: rotate(0);
    }

    span {
      top: 50%;

      transform: translateY(-50%);

      opacity: 1;
	    filter: alpha(opacity=100);
    }
  
    &:after {
      bottom: 0;

      transform: rotate(0);
    }
  
    &.collapsed {
      &:before {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
  
      span {
        opacity: 0;
	      filter: alpha(opacity=0);
      }

      &:after {
        transform: rotate(-45deg);
        transform-origin: 1% 90%;
      }
    }
  }
  

  &__navbar_nav {
    display: flex;
    margin-left: auto;

    list-style: none;
  }

  &__nav_item {
    padding: 0 15px;

    &:last-child {
      padding-right: 0;
    }
  }
  
  &__nav_link {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }

  &__sr_only {
    display: none;
  }
}

@include respond-to(xl-down) {
  .header {
    &__navbar_logo {
      width: 100px;
      height: auto;
    }
  }
}

@include respond-to(md-down) {
  .header {
    &__navbar_logo {
      width: 80px;
    }

    &__nav_item {
      padding: 0 12px;
    }
  }
}

@include respond-to(sm-down) {
  .header {
    background: $secondary;

    &__navbar {
      align-items: center;
    }

    &__navbar_nav {
      padding: 12px 0;
    }

    .navbar_brand {
      position: relative;
      top: -23px;
      left: -28px;
    }

    &__nav_item {
      padding: 11px 12px;

      &:last-child {
        padding-right: 12px;
      }
    }

    &__nav_link {
      display: block;
      width: 100%;

      text-align: center;
    }
  }
}

@include respond-to(xs) {
  .header {
    &.expanded {
      background-color: $secondary;

      .navbar_brand {
        position: relative;
        z-index: 999;
        top: -39px;
      }
    }

    &__navbar_collapse {
      position: absolute;
      left: 0;
      top: 80px;
      right: 0;
      
      // display: none;
      display: flex;
      flex-direction: column;
      
      background: $secondary;

      transform: scaleY(0);
      transform-origin: top;
      transition: all .2s linear;

      &.show {
        transform: scaleY(1);
      }
    }

    &__navbar_nav {
      flex-direction: column;
      margin-right: auto;
    }
  }
}