@import 'global.module.scss';
@import  'variables.module.scss';
@import 'mixins.module.scss';

.banner {
  position: relative;
  z-index: 1;
  
  padding: 125px 0;

  background: $secondary;

  overflow: hidden;

  &__container {
    @extend .container__sm;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    &:before,
    &:after {
      position: absolute;
    }
    
    &:before {
      content: '';

      left: -292px;
      bottom: -125px;
      z-index: 1;

      width: 470px;
      height: 476px;

      background: url('/images/banner-left.png') right top/cover no-repeat;
    }

    &:after { 
      content: '';

      right: -1205px;
      bottom: -335px;

      width: 1495px;
      height: 1145px;

      background: url('/images/banner-right.png') left top/cover no-repeat;
    }
  }

  svg {
    position: absolute;
    left: -995px;
    top: -527px;

    width: 1570px;
  }

  &__img_wrapper {
    position: relative;
    z-index: 2;
  }

  &__content_wrapper {
    position: relative;
    z-index: 2;

    margin-left: 15px;
    max-width: 620px;

    text-align: center;
  }
}

.welcome {
  position: relative;
  top: -90px;
  z-index: 2;

  display: flex;
  justify-content: center;
  margin: auto;
  
  text-align: center;
  
  &__container {
    @extend .container;

    padding: 30px 30px;

    background: #fff;
    box-shadow: 0px 2px 5px rgb(135 135 135 / 10%);
  }
}

.timeline {
  background: $tertiary;

  position: relative;
  z-index: 2;

  padding-bottom: 120px;

  &:before {
    content: '';

    position: absolute;
    top: 35px;
    left: 50%;

    height: 95%;

    border: 3px solid $primary;
    border-radius: 5px;
    
    transform: translateX(-50%);
  }

  .column {
    position: relative;

    display: flex;
    flex: 0 0 100%;
    padding: 25px 20px;
    margin-bottom: 150px;

    text-align: center;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;

      width: 23px;
      height: 23px;

      background-color: $primary;
      border-radius: 50%;

      transform: translate(-50%, -50%);
    }

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .logo_holder {
        justify-content: flex-end;
        margin: 0 128px 0 10px;

        img {
          margin-left: 25px;
          margin-right: 0;
        }
      }

      .wrapper {
        margin-right: auto;
        margin-left: 30px;

        text-align: left;
      }

      .job_logo {
        justify-content: flex-end;
      }

      .job_details {
        &:before {
          right: auto;
          left: 10px;
        }
      }

      .job_heading {
        justify-content: flex-start;
      }
    }

    .job {
      position: relative;

      flex: 0 0 50%;
    }

    .job_details {
      &:before {
        right: 10px;

        display: none;
      }
    }

    .job_logo {
      display: flex;
      align-items: center;
    }

    .position {
      color: $secondary;
      font-size: 40px;
      text-transform: uppercase;
    }

    .job_heading {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      color: $secondary;
      font-size: 25px;
      font-weight: 400;

      span {
        padding: 1px 0;
        padding-left: 15px;
        margin: 10px 0;
        margin-left: 15px;

        text-align: left;

        border-left: 1px solid $secondary;
      }
    }

    .job_summary {
      font-size: 22px;
      letter-spacing: 1px;
      line-height: 1.5;
      text-align: justify;
      word-spacing: 3px;
    }

    .wrapper {
      padding: 20px 45px;
      padding-top: 0;
      margin-right: 30px;
      margin-left: auto;

      color:  $secondary ;
      text-align: right;

      border-radius: 5px;
    }

    .logo_holder {
      display: flex;
      align-items: center;

      margin: 0 10px 0 128px;
      width: 100%;
      
      img {
        margin-right: 25px;
      }
    }
  }
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  
  background: $secondary;

  .container {
    @extend .container__sm;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  h3 {
    flex: 0 0 100%;
    margin-bottom: 60px;
    width: 100%;

    color: #fff;
    text-align: center;
  }

  .column {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 22.5%;
    padding: 30px 20px;
    margin: 21.5px 0;
    width: 22.5%;

    background: $primary;
    box-shadow: 0 2px 20px rgb(0 0 0);
  }

  .skill_name {
    margin-top: 21px;
    
    font-size: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

@include respond-to(xl-down) {
  .banner {
    &__container {
      &:before {
        left: -137px;
        bottom: -186px;
      }

      &:after {
        right: -1078px;
        bottom: -555px;
      }
    }

    &__img_wrapper {
      img {
        width: 415px;
        height: auto;
      }
    }

    &__content_wrapper {
      h1 {
        font-size: 108px;
      }
    }
  }

  .welcome {
    max-width: 1200px;
  }

  .timeline {
    .column {
      
    }
  }

  .skills {
    .column {
      flex: 0 0 23.5%;
      margin: 11.5px 0;
      width: 23.5%;
    }
  }
}

@include respond-to(lg-down) {
  .banner {
    padding-top: 140px;

    &__container {
      &:after {
        right: -1121px;
        bottom: -592px;
      }
    }

    &__img_wrapper {
      img {
        width: 395px;
      }
    }

    &__content_wrapper {
      max-width: 480px;

      h1 {
        font-size: 90px;
      }

      h2 {
        font-size: 44px;
      }
    }
  }

  .welcome {
    max-width: 960px;
  }

  .timeline {
    padding-bottom: 25px;

    .column {
      .wrapper {
        padding: 20px;
      }

      .job_summary {
        font-size: 21px;
        line-height: 1.4;
        word-spacing: 2px;
      }
    }
  }

  .skills {
    .column {
      flex: 0 0 24%;
      margin: 6.5px 0;
      width: 24%;

      img {
        width: auto;
        height: 140px;
      }
    }
  }
}

@include respond-to(md-down) {
  .banner {
    &__container {
      &:before {
        left: -222px;
        bottom: -327px;
      }

      &:after {
        right: -1168px;
        bottom: -642px;
      }

      svg {
        left: -1043px;
        top: -613px;

        width: 1516px;
      }
    }

    &__img_wrapper {
      img {
        width: 308px;
      }
    }

    &__content_wrapper {
      h1 {
        font-size: 81px;
        letter-spacing: 4px;
      }

      h2 {
        font-size: 38px;
      }
    }
  }

  .welcome {
    max-width: 720px;

    &__container {
      margin: 0;
    }
  }

  .timeline {
    &:before {
      height: 97%;
    }

    .column {
      margin-bottom: 70px;
       
      &:nth-child(odd) {
        .logo_holder {
          margin: 0 45px 0 10px;
        }

        .wrapper {
          margin-left: 40px;
        }
      }

      &:last-child {
        margin-bottom: 50px;
      }

      .logo_holder {
        margin: 0 10px 0 45px;
      }

      .job_heading {
        font-size: 22px;
      }

      .position {
        font-size: 35px;
      }

      .wrapper {
        padding: 20px 0;
        margin-right: 40px;
      }
    }
  }

  .skills {
    .column {
      padding: 20px;
      margin: 4.5px 0;

      box-shadow: 0 2px 10px rgb(0 0 0);

      img {
        height: 115px;
      }
    }

    .skill_name {
      margin-top: 11px;
    
      font-size: 23px;
    }
  }
}

@include respond-to(sm-down) {
  .banner {
    padding-top: 120px;

    background: rgb(255,204,63);
    background: linear-gradient(150deg, rgba(255,204,63,1) 33%, rgba(184,137,23,1) 66%);

    &__container {
      flex-direction: column;

      &:before {
        left: -317px;
        bottom: inherit;
        top: -225px;
        
        transform: rotate(160deg);
      }

      &:after {
        right: -1083px;
        bottom: -712px;
      }

      svg {
        // left: -580px;
        // top: -1024px;

        // width: 1552px;
        
        // transform: rotate(84deg);

        display: none;
      }
    }

    &__content_wrapper {
      margin-left: 0;

      h1,
      h2 {
        color: $secondary;
      }
    }
  }

  .welcome {
    max-width: 540px;
  }

  .timeline { 
    &:before {
      top: 15px;
      left: 41px;
  
      transform: inherit;
    }

    .column {
      flex-direction: column-reverse;
      margin-bottom: 25px;

      &:before {
        top: 50px;
        left: 14.5px;

        transform: inherit;
      }

      &:nth-child(odd) {
        flex-direction: column-reverse;

        .logo_holder {
          justify-content: flex-start;

          img {
            margin-left: 33px;
          }
        }
      }

      .wrapper {
        margin-left: 40px;
        margin-right: 0;

        text-align: left;
      }

      .logo_holder {
        justify-content: flex-start;
      }

      .job_heading {
        justify-content: flex-start;
      }
    }
  }

  .skills {
    .column {
      flex: 0 0 32%;
      margin: 5.5px 0;
      width: 32%;
    }
  }
}

@include respond-to(xs) {
  .banner {
    padding-bottom: 75px;

    &__img_wrapper {
      img {
        margin-bottom: 12px;
        width: 280px;
      }
    }

    &__content_wrapper {
      h1 {
        font-size: 17vw;
      }

      h2 {
        font-size: 11vw;
        font-weight: 300;
      }
    }
  }

  .welcome {
    top: -35px;
  }

  .timeline {
    &:before {
      left: 28px;

      height: 98%;

      border: 2px solid $primary;
    }

    .column {
      padding: 25px 15px;
      padding-left: 60px;

      &:before {
        left: 18.5px;
      }

      &:nth-child(odd) {
        .logo_holder {
          margin: 0;

          img {
            margin-left: 0;
            width: 230px;
            height: auto;
          }
        }

        .wrapper {
          margin-left: 0;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .job {
        flex: 0 0 100%;
      }

      .job_heading {
        font-size: 20px;
      }

      .job_summary {
        font-size: 18px;
        line-height: 1.2;
      }

      .position {
        font-size: 32px;
      }

      .logo_holder {
        margin: 0;

        img {
          margin-right: 0;
          width: 230px;
          height: auto;
        }
      }

      .wrapper {
        margin-left: 0;
      }
    }
  }

  .skills {
    padding-top: 32px;
    padding-bottom: 32px;

    .container {
      padding: 0 10px;
    }

    .column {
      flex: 0 0 48.5%;
      margin: 5px 0;
      width: 48.5%;

      img {
        height: 93px;
      }
    }

    h3 {
      margin-bottom: 30px;
    }

    .skill_name {
      font-size: 21px;
      letter-spacing: 0.5px;
    }
  }
}